@import url(font.css);

:root {
    --second-bg-color: #F5F5F5;
    --main-bg-color: #fff;
    --third-bg-color: #D9D9D9;
    --white: #fff;
    --black: #000;
    --red: #963B40;
    --f_Inter: 'Inter';
    --f_Poppins: 'Poppins';
    --icon_Color: #546171;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--f_Poppins);
    background: var(--main-bg-color);
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    display: block;
    color: unset;
}

li {
    list-style: none;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.bg-second {
    background: var(--second-bg-color);
}

.bg-main {
    background: var(--main-bg-color);
}

.all-btn {
    background: var(--black);
    font-size: 13px;
    font-weight: 700;
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 12px 0;
    transition: .3s;
    border: 2px solid var(--black);
}

.all-btn:hover {
    background: var(--white);
    color: var(--black);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Top header start -=-=-=-=-=-=-=-=-=- */

.top__header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__header ul {
    display: flex;
}

.top__header a {
    font-size: 13px;
}

ul.list > li {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #000;
}

ul.list > li:last-child {
    border-right: 0;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown i {
    margin-left: 7px;
    transition: .4s;
}

.dropdown:hover i {
    transform: rotate(180deg);
}

.dropdown__content {
    display: flex;
    flex-direction: column;
    background: var(--white);
    box-shadow: rgba(68, 68, 68, 0.622) 0px 7px 29px 0;
    position: absolute;
    top: calc(100% + 20px);
    visibility: hidden;
    transition: all .4s;
    opacity: 0;
}

.dropdown:hover .dropdown__content {
    top: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 1111;
}



.dropdown__content > li > a {
    padding: 10px;
}

.dropdown__content > li:hover {
    color: var(--red);
}

/* ------------------- mid__header start --------------- */

.mid__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.search {
    background: var(--second-bg-color);
    max-width: 547px;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.search i {
    font-size: 20px;
    color: var(--icon_Color);
}

.user__menu {
    display: flex;
    align-items: center;
    font-size: 24px;
    column-gap: 30px;
}


.box img {
    width: 100%;
}

.bottom__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__menu {
    display: flex;
    column-gap: 40px;
}

.main__menu > li > a {
    padding: 6px 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 200ms;
}

.main__menu > li > a:hover {
    border-bottom: 2px solid var(--red);
}

.main__menu > li > a:hover i {
    transform: rotate(180deg);
}

.mega__dropdown a i {
    font-size: 12px;
    margin-left: 5px;
    transition: .3s;
}


.mega__content {
    background: var(--main-bg-color);
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.25);
    padding: 45px 40px;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .5s;
    top: calc(100% + 100px);
    z-index: 111;
}

.mega__dropdown:hover .mega__content {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.mega__content ul {
    display: flex;
    flex-direction: column;
}

.mega__content ul > li > a {
    padding: 10px 0;
    width: max-content;
    transition: .2s ease-in-out;
    border-bottom: 2px dashed #E9E9E9;
}

.mega__content ul > li > a:hover {
    color: var(--red);
    margin-left: 10px;
    border-bottom: 2px dashed var(--red);
} 

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Slider start =-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#slider {
    height: 100vh;
    position: relative;
}

#slider .container {
    height: 100%;
}

.slide {
    height: 0;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.slide.active {
    visibility: visible;
    height: 100%;
}

.slide .info {
    width: 50%;
}

.info__txt {
    font-size: 17px;
    font-weight: 600;
}

.info__title {
    font-size: 65px;
    margin: 14px 0 30px;
}

.info__text {
    font-size: 15px;
    color: #575757;
    line-height: 22px;
    margin-bottom: 31px;
}

.slider__btn {
    width: 130px;
}

.slide .img {
    width: 50%;
}

.slide .img img {
    width: 100%;
}

.slider__controll {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__controll:hover {
    background: var(--black);
    color: var(--white);
}

.prev {
    left: -40px;
}

.next {
    right: -80px;
}

#slider:hover .prev {
    left: 40px;
}
#slider:hover .next {
    right: 0px;
}


/* ---------------------- top-down --------------- */


.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

.slide.active .top-down {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* -------------------- right-left ----------------- */

.left-right {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

.slide.active .left-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
}

/* -------------------- down-top -------------------- */

.down-top {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

.slide.active .down-top {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


/* --------------------------- Transition ----------------------- */

.transition-2 {
    transition-delay: 0.2s;
}
.transition-4 {
    transition-delay: 0.4s;
}
.transition-6 {
    transition-delay: 0.6s;
}
.transition-8 {
    transition-delay: 0.8s;
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Promation start -=-=-=-=-=-=-=-=-=-=-=-=- */



.promation__box {
    background-color: var(--third-bg-color);
}

.promation__box img {
    transition: 500ms;
}

.promation__box:hover img {
    transform: scale(1.1);
}

.promation__box img {
    width: 150px;
    height: 150px;
}

.promation__text {
    padding: 21px 16px;
}